frontend localnodes
    bind *:80
    mode http
    default_backend defaultbackend

backend defaultbackend
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server ubuntu-server-1 172.16.1.11:80 check observe layer4
    server ubuntu-server-2 172.16.2.11:80 check observe layer4
